{#
  submission
  form
#}
{% set team = data.team %}
<hr>
Общая стоимость всех распиловок: {{data.cost_smena_sum}} руб.
<hr>
<div class="header-table-oplata">
  <h5>Заработная плата работникам</h5>
  <table class="all_tables">
    <tr>
      <td><strong>№</strong></td>
      <td><strong>ФИО работника</strong></td>
      <td><strong>Зар. плата, руб.</strong></td>
    </tr>
    {% for person in team %}
    {% if person.zarplata_human %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ person.title }}</td>
      <td>{{ person.zarplata_human }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
      <td> </td>
      <td><strong>ВСЕГО:</strong></td>
      <td><strong>{{data.zarpata_vsego}}</strong></td>
    </tr>
  </table>
  <h5>Количество распиленного материала</h5>
  <table class="all_tables">
    <tr>
      <td><strong>Порода</strong></td>
      <td><strong>Пиломатериал</strong></td>
      <td><strong>Сорт 1</strong></td>
      <td><strong>Сорт 2</strong></td>
      <td><strong>Сорт 3</strong></td>
    </tr>
    {% for poroda, pilomat_array in data.result %}
      {% for pilomat, sort_array in pilomat_array %}
        {% for sort, kub in sort_array %}
        {% endfor %}
      <tr>
        <td>{{ poroda }}</td>
        <td>{{ pilomat }}</td>
        <td>{{ sort_array.сорт1 }}{% if not sort_array.сорт1 %}--{% endif %}</td>
        <td>{{ sort_array.сорт2 }}{% if not sort_array.сорт2 %}--{% endif %}</td>
        <td>{{ sort_array.сорт3 }}{% if not sort_array.сорт3 %}--{% endif %}</td>
      </tr>
      {% endfor %}
    {% endfor %}

  </table>
</div>
